*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(120, 5, 227); /* Prevent flex items from stretching */
}


.ece{
    width: 550px;
    background-color: rgb(192, 138, 243);
    border-radius: 20px;
    margin: 50px;
    padding: 30px;
    text-align: center;
}

.cse{
    width: 550px;
    background-color: rgb(192, 138, 243);
    border-radius: 20px;
    margin: 50px;
    padding: 30px;
    text-align: center;
}

.syllabus button{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 0px;
}

.heading1 , .heading2{
    padding-bottom: 20px;
    color: rgb(247, 252, 253);
    
}

/* ------------------------------------------------------------------------------------------------- */

.list{
    width: 600px;
    height: auto;
    padding: 30px;
    align-items: flex-start;
    margin: 50px;
    background-color: rgb(192, 138, 243);
    margin-left: 150px;
    border-radius: 20px;
    
}
.list h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.row{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    background-color: #edeef0;
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#input1{
    flex:1;
    padding: 10px;
    font-size: 18px;
    background: transparent;
    border:none;
    outline: none;
}
#btn1{
    border-radius: 40px;
    border-width: 0px;
    outline: none;
    padding: 16px 50px;
    font-size: 25px;
    background-color: rgb(170, 255, 0);
}

.list-container{
    margin-left: 30px;
    font-size: 22px;
}

ul li{
    list-style: none;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 10px;
    left: -20px;
}

ul li.checked{
    color: #b5b5b5;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;  
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}













/* .search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border:0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60 px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
} */